In [1]:
import rei

In [2]:
H = rei.Home("1303 Alberta Dr")

c:\users\kevin\onedrive\documents\projects\rei\rei\sdat.py:248: FutureWarning: The default value of regex will change from True to False in a future version.
  ".*STRY *(.*?) *Story.*", "\\1").str.replace("TH |Center|End|STRY|", "", case=False),

In [3]:
H.arv
H.comps_filtered[['price', 'sqft']].describe().reset_index()

   index          price         sqft
0  count      37.000000    37.000000
1   mean  306832.108108  1094.837838
2    std   66925.479988    45.790898
3    min  100000.000000  1008.000000
4    25%  282000.000000  1073.000000
5    50%  308000.000000  1100.000000
6    75%  355999.000000  1125.000000
7    max  420000.000000  1161.000000

In [4]:
Hs = rei.Homes(H.comps.address.unique().tolist()[0:5])

c:\users\kevin\onedrive\documents\projects\rei\rei\sdat.py:248: FutureWarning: The default value of regex will change from True to False in a future version.
  ".*STRY *(.*?) *Story.*", "\\1").str.replace("TH |Center|End|STRY|", "", case=False),

In [6]:
Hs.addresses

['8414 LENASKIN LANE',
 '1720 BRADMOORE DR',
 '1905 MAEMOORE CT',
 '1517 RITCHIE ROAD',
 '7901 DARCY ROAD']

In [8]:
Hs.view()

,address,sqft,count,mean,std,min,25%,50%,75%,max
0,8414 LENASKIN LANE,1680,10.0,442056.000000,188030.930742,235000.0,356350.0,392500.0,423725.0,925000.0
1,1720 BRADMOORE DR,1196,35.0,308525.714286,54960.195986,155000.0,290500.0,315000.0,341500.0,440000.0
2,1905 MAEMOORE CT,1678,14.0,428254.285714,158171.397867,235000.0,385000.0,390000.0,417425.0,925000.0
3,1517 RITCHIE ROAD,1928,5.0,340000.000000,84926.438757,205000.0,340000.0,340000.0,380000.0,435000.0
4,7901 DARCY ROAD,1862,24.0,396494.208333,132290.702259,210600.0,346750.0,390000.0,411250.0,925000.0